[package]
name = "wasm"
version = "0.1.0"
authors = ["Parity Technologies <admin@parity.io>"]

[dependencies]
byteorder = "1.0"
ethereum-types = { git = "https://github.com/ekiden/primitives", branch = "ekiden" }
log = "0.3"
parity-wasm = { git = "https://github.com/ekiden/parity-wasm", branch = "ekiden" }
# libc = "0.2"
pwasm-utils = { git = "https://github.com/ekiden/wasm-utils", branch = "ekiden" }
vm = { path = "../vm" }
# ethcore-logger = { path = "../../logger" }
wasmi = { git = "https://github.com/ekiden/wasmi", branch = "ekiden" }
